参考资料：

https://www.kaggle.com/dansbecker/xgboost

In [2]:
import pandas as pd

data = pd.read_csv('./input/train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# SalePrice 这一列中有空的行删除
data.dropna(axis=0, subset=['SalePrice'], inplace=True)

In [4]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
y = data.SalePrice
# 把类型是 object 都排除在外了
X = data.drop(['SalePrice'], axis=1).select_dtypes(exclude=['object'])

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1095 entries, 1332 to 1228
Data columns (total 37 columns):
Id               1095 non-null int64
MSSubClass       1095 non-null int64
LotFrontage      900 non-null float64
LotArea          1095 non-null int64
OverallQual      1095 non-null int64
OverallCond      1095 non-null int64
YearBuilt        1095 non-null int64
YearRemodAdd     1095 non-null int64
MasVnrArea       1089 non-null float64
BsmtFinSF1       1095 non-null int64
BsmtFinSF2       1095 non-null int64
BsmtUnfSF        1095 non-null int64
TotalBsmtSF      1095 non-null int64
1stFlrSF         1095 non-null int64
2ndFlrSF         1095 non-null int64
LowQualFinSF     1095 non-null int64
GrLivArea        1095 non-null int64
BsmtFullBath     1095 non-null int64
BsmtHalfBath     1095 non-null int64
FullBath         1095 non-null int64
HalfBath         1095 non-null int64
BedroomAbvGr     1095 non-null int64
KitchenAbvGr     1095 non-null int64
TotRmsAbvGrd     1095 non-null int64
Fireplaces       1095 non-null int64
GarageYrBlt      1033 non-null float64
GarageCars       1095 non-null int64
GarageArea       1095 non-null int64
WoodDeckSF       1095 non-null int64
OpenPorchSF      1095 non-null int64
EnclosedPorch    1095 non-null int64
3SsnPorch        1095 non-null int64
ScreenPorch      1095 non-null int64
PoolArea         1095 non-null int64
MiscVal          1095 non-null int64
MoSold           1095 non-null int64
YrSold           1095 non-null int64
dtypes: float64(3), int64(34)
memory usage: 325.1 KB

In [14]:
from sklearn.preprocessing import Imputer

my_imputer = Imputer()
X_train = my_imputer.fit_transform(X_train)
X_test = my_imputer.transform(X_test)

/Users/liwei/anaconda3/envs/ipykernel_py3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [18]:
from xgboost import XGBRegressor

my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(X_train, y_train, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [20]:
# make predictions
predictions = my_model.predict(X_test)

In [22]:
from sklearn.metrics import mean_absolute_error

print("Mean Absolute Error : " + str(mean_absolute_error(y_test, predictions)))

Mean Absolute Error : 18294.883818493152

## Model Tuning

In [24]:
my_model = XGBRegressor(n_estimators=1000)
my_model.fit(
    X_train,
    y_train,
    early_stopping_rounds=5,
    eval_set=[(X_test, y_test)],
    verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [25]:
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(
    X_train,
    y_train,
    early_stopping_rounds=5,
    eval_set=[(X_test, y_test)],
    verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)